

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG" verbose="1" parallel="false" thread-count="2" data-provider-thread-count="3">

    <test name="Expedia Book Flight Chrome">
        <parameter name="browser" value="chrome"/>
        <parameter name="flightCost" value="$409"/>
        <classes>
            <class name="com.j4mt.selenidefw.tests.expedia.flights.CheckCostOfFlightDisplayed" />
        </classes>
    </test>

<!--    //TODO:marionette driver not configured properly to interact with firefox, using default selenide config fixes this over custom config-->
<!--    <test name="Expedia Book Flight Firefox">-->
<!--        <parameter name="browser" value="firefox"/>-->
<!--        <classes>-->
<!--            <class name="com.j4mt.selenidefw.tests.expedia.flights.CheckCostOfFlightDisplayed" />-->
<!--        </classes>-->
<!--    </test>-->

</suite> <!-- Suite -->